.descriptionbox{
   margin: 120px 170px;
}

.descriptionbox-navigator{
    display: flex;
}

.descriptionbox-nav-box{
    width: 171px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.descriptionbox-nav-box.fade{
    background-color: #e0e0e0;
    color: #555;
}

.descriptionbox-description{
   display: flex;
   flex-direction: column;
   gap: 25px;
   border: 1px solid #e0e0e0;
    padding: 48px;
    padding-bottom: 70px;
}